{% extends "base.html" %}

{% block content %}
{% if polls %}
    <ul>
      {% for poll in polls %}
      <li>
        {{poll.name}}
        <ul>
        {% for question in poll.question_set.all %}
          <li>
            <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            <ul>
              {% for choice in question.choice_set.all %}
                <li>
                  {{choice.choice_text}}
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}
